/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
  color: var(--another-color);
}
/*Body*/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(../images/Background-img.png) center;
  background-size: cover;
}
