/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
  color: #000;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
