/*font*/
@font-face {
  font-family: "Brittany";
  src: url(../fonts/BrittanySignature.ttf);
}
/*Body*/
body {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/Background-Image.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}
/*Header*/
.header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0 20px 0 20px;
}
.header h1 {
  font-size: 30px;
  color: var(--another-color);
  font-family: var(--another-font);
}
.header ul {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 10px;
}
/*Form*/
.form {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form form {
  display: flex;
  flex-direction: column;
}
.form form h2 {
  font-size: 30px;
  color: var(--another-color);
  padding-bottom: 20px;
}
.input-box {
  padding-bottom: 20px;
}
