/*font*/
@font-face {
  font-family: "Brittany";
  src: url(../fonts/BrittanySignature.ttf);
}
/*Body*/
body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 130px;
  background-image: url(../images/Background-Image.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/*Header*/
.header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0 20px 0 20px;
}
.header h1 {
  font-size: 30px;
  color: var(--another-color);
  font-family: var(--another-font);
}
.header ul {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 10px;
}
/*Form*/
.countainer {
  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: var(--another-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.countainer h2 {
  font-size: 36px;
  text-align: center;
}
.countainer .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.countainer .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  outline: none;
  font-size: 16px;
  color: var(--another-color);
  padding: 20px 45px 20px 20px;
}
.countainer .input-box input::placeholder {
  color: #c5c5c5;
}
.countainer .input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  font-size: 20px;
  transform: translateY(-50%);
}
.form {
  min-height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form form {
  display: flex;
  flex-direction: column;
}
.form form h2 {
  font-size: 30px;
  color: var(--another-color);
  padding-bottom: 20px;
}
.input-box {
  padding-bottom: 20px;
}
