/*Form*/
.countainer {
  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 30px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
}
.countainer h1 {
  font-size: 36px;
  text-align: center;
}
.countainer .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.countainer .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  outline: none;
  font-size: 16px;
  color: var(--another-color);
  padding: 20px 45px 20px 20px;
}
.countainer .input-box input::placeholder {
  color: #c5c5c5;
}
.countainer .input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  font-size: 20px;
  transform: translateY(-50%);
}
.Remember-forgot {
  display: flex;
  justify-content: space-between;
  margin: -15px 0 15px;
}
.Remember-forgot label input {
  accent-color: var(--another-color);
  margin-right: 5px;
}
.Remember-forgot a {
  text-decoration: none;
  color: var(--another-color);
  cursor: pointer;
}
.Remember-forgot a:hover {
  text-decoration: underline;
}
.login-bnt {
  width: 100%;
  height: 50px;
  background-color: var(--another-color);
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
.login-bnt:hover {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: var(--another-color);
  transition: 0.5s ease-in-out;
}
.register-link {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 15px;
}
.Remember-forgot a {
  text-decoration: none;
  color: var(--another-color);
  font-weight: 500;
  cursor: pointer;
}
.Remember-forgot a:hover {
  text-decoration: underline;
}
